:tocdepth: 1

—писок изменений
=========

**ѕро "сбой в программе":** чита€ этот список изменений, вы увидите количество исправлений этих "сбоев".
»мейте в виду, когда здесь упоминаетс€ "сбой" (УcrashesФ), то мы имеем в виду "м€гкий сбой" (Уsoft crashesФ), который не вызывает 
завершени€ программы. ¬ы просто увидите окно с сообщением об ошибке, которое попросить вас (если желаете)
отправить эту ошибку к нам в Hardcoded Software. —бои, которые вызывают завершение программы, называютс€
здесь "сильный сбой" (Уhard crashesФ).

{changelog}