:tocdepth: 1

Список изменений
=========

**Про "сбой в программе":** читая этот список изменений, вы увидите количество исправлений этих "сбоев".
Имейте в виду, когда здесь упоминается "сбой" (“crashes”), то мы имеем в виду "мягкий сбой" (“soft crashes”), который не вызывает 
завершения программы. Вы просто увидите окно с сообщением об ошибке, которое попросить вас (если желаете)
отправить эту ошибку к нам в Hardcoded Software. Сбои, которые вызывают завершение программы, называются
здесь "сильный сбой" (“hard crashes”).

{changelog}